{{- $GeneratedPackagePath := .GetDartGeneratedPath -}}
import 'package:{{ $GeneratedPackagePath }}/client.pb.dart';
import 'package:{{ $GeneratedPackagePath }}/wrappers.pb.dart';
import 'package:{{ $GeneratedPackagePath }}/client.dart';
import 'package:flutter/material.dart' as MaterialDartLib;
