/**
 * GoCall library binding
 * flow
 */

import React, {Component, PureComponent, type ComponentType} from 'react';

import {
  View,
  NativeModules,
} from 'react-native';

import {
  cancelSubscriptionApiCall,
{{range $_, $item := .Functions}}
  {{ $item }}, {{end}}
{{range $_, $item := .Structures}}
  type {{ $item }}, {{end}}

} from './{{ .PackageName }}'

const emptyArray = []
