/**
 * GoCall library binding
 * flow
 */

import React, {Component, PureComponent, type ComponentType} from 'react';

import {
  View,
  NativeModules,
} from 'react-native';

import {

} from './{{ .Package }}'