func {{ .Name }}({{range $index, $item := .Params}}{{if $index}}, {{end}}{{ $item.Name }} {{if $item.RichType.Object }}{{ $item.Package}}.{{end}}{{ $item.Type }}{{end}})  {
   {{ .Package }}.{{ .Name }}({{range $index, $item := .Params}}{{if $index}}, {{end}}{{ $item.Name }}{{end}})
} 
